.container {
    width: 1024px;
    text-align: center;
    margin: 0 auto;
}

div {
    border-top: 1.5px solid black;
}

h1 {
    vertical-align: top;
}

img  {
    width: 100px;
    height: 100px;
    border: 3px groove black;
    border-radius: 12%;
}

p {
    text-align: justify;
}

.main {
    border: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3 {
    border-bottom: 1.5px solid black;
}